Thumbs.db
Desktop.ini
.DS_Store
composer.lock
app/cache/volt/*.php
app/cache/metaData/*.php
app/cache/
app/logs/
app/config/xmlapi.php
src/Marketplace/eBay/config/config.php
job/config/config.php
vendor/
job/tasks.log
*.tmp
zzz.log
filelist
