body {
    font-family: Verdana,sans-serif;
}
#toast {
    position: fixed;
    right: 30px;
    top: 60px;
    background-color: #008800;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 20px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 5px 5px 20px -1px rgba(56, 56, 56, 1);
    box-shadow: 5px 5px 20px -1px rgba(56, 56, 56, 1);
}
#toast.error {
    background-color: #880000;
}
